<div class="col-md-6 offset-md-3 jumbotron">
    <h1>Login to your account</h1>
    @if (ViewBag.Message != null)
    {
        <span class="text-danger">@ViewBag.Message</span>
    }
    <form method="post" action="/account/login">
        <input type="text" class="form-control" name="email" placeholder="Email" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <br />
        <button class="btn btn-primary btn-block btn-lg">Login</button>
        <a href="/account/signup">Don't have an account? Sign up here!</a>
    </form>
</div>
