<div class="col-md-6 offset-md-3 jumbotron">
    <h1>Sign up to be able to post ads!</h1>
    <form method="post" action="/account/signup">
        <input type="text" class="form-control" name="name" placeholder="Enter your name" />
        <br />
        <input type="text" class="form-control" name="email" placeholder="Enter your email address" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Create a password" />
        <br />
        <button class="btn btn-primary btn-block btn-lg">Sign me up!</button>
    </form>
</div>